html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem hsl(170deg, 45%, 43%);
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: min(100% - 3rem, 80rem);
  margin-inline: auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.heading-primary {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.085rem + 1.8vw, 2.5rem);
  line-height: 2.25rem;
  line-height: clamp(2.25rem, 1.6rem + 2.65vw, 3.75rem);
  font-weight: 700;
  color: hsl(243deg, 87%, 12%);
}

.heading-secondary {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.3784rem + 2.6519vw, 2.5rem);
  font-weight: 700;
}
.heading-secondary--dark {
  color: hsl(243deg, 87%, 12%);
}
.heading-secondary--white {
  color: hsl(0deg, 0%, 100%);
}

.u-mb-16 {
  margin-bottom: 1rem;
}

.u-mb-24 {
  margin-bottom: 1.5rem;
}

.u-mb-36 {
  margin-bottom: 2.25rem;
}

.u-mb-40 {
  margin-bottom: 2.5rem;
}

.btn {
  display: inline-block;
  border: none;
  width: 100%;
  padding: 0.9375rem 1.875rem;
  background-color: hsl(224deg, 93%, 58%);
  border-radius: 3px;
  color: hsl(0deg, 0%, 100%);
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  transform: translateY(-2px) scale(1.03);
}
.btn:active {
  transform: translateY(-1px) scale(1.01);
}

.btn-text:link, .btn-text:visited {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.6464rem + 0.4419vw, 1rem);
  color: hsl(170deg, 45%, 43%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid currentColor;
  padding: 0 0 0.375rem 0;
  gap: 0.5rem;
  transition: all 0.3s;
}
.btn-text__icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
.btn-text:hover, .btn-text:active {
  color: hsl(170deg, 63%, 66%);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__input {
  display: block;
  width: 100%;
  padding: 0.9375rem 1.25rem;
  border: 1px solid hsl(243deg, 87%, 12%);
  border-radius: 3px;
  font-size: 0.75rem;
  color: hsl(243deg, 14%, 43%);
  font-family: "Raleway", sans-serif;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
}
.form__input:focus {
  box-shadow: none;
}
.form__input:focus:invalid {
  border: 1px solid hsl(343deg, 84%, 61%);
}
.form__input::placeholder {
  color: hsl(0deg, 0%, 76%);
}

.header {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 1.5rem;
}
.header__navigation-list {
  display: flex;
  gap: 1.5625rem;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.65rem + 0.44vw, 1rem);
}
.header__navigation-link:link, .header__navigation-link:visited {
  color: hsl(243deg, 87%, 12%);
}

.section-hero {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 50em) {
  .section-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.125rem;
    align-items: center;
  }
}
@media screen and (min-width: 50em) {
  .section-hero__img-box {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.section-hero__img {
  width: 100%;
}
.section-hero__text-box {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  text-align: center;
}
@media screen and (min-width: 50em) {
  .section-hero__text-box {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
}
.section-hero__text {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8rem + 0.331vw, 1.0625rem);
  line-height: 1.5rem;
  color: hsl(243deg, 87%, 12%);
}
@media screen and (min-width: 37.5em) {
  .section-hero__form {
    flex-direction: row;
  }
}
@media screen and (min-width: 37.5em) {
  .section-hero__form-btn {
    width: 70%;
  }
}

.section-productive__content {
  display: flex;
  flex-direction: column;
  gap: 5.4375rem;
}
@media screen and (min-width: 50em) {
  .section-productive__content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 3.125rem;
    align-items: center;
  }
}
@media screen and (min-width: 50em) {
  .section-productive__img-box {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
.section-productive__img {
  width: 100%;
}
.section-productive__text-box {
  text-align: center;
}
@media screen and (min-width: 50em) {
  .section-productive__text-box {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
}
.section-productive__text {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8rem + 0.331vw, 1rem);
  line-height: 1.375rem;
  color: hsl(243deg, 14%, 43%);
}
@media screen and (min-width: 50em) {
  .section-productive__text {
    padding-right: 9.375rem;
  }
}
.section-productive__btn {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 50em) {
  .section-productive__btn {
    justify-content: start;
  }
}
.section-productive__testimonial {
  background-color: hsl(0deg, 0%, 100%);
  padding: 1.25rem 1.5625rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(56, 56, 56, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media screen and (min-width: 37.5em) {
  .section-productive__testimonial {
    width: 60%;
  }
}
@media screen and (min-width: 50em) {
  .section-productive__testimonial {
    width: 80%;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 68.75em) {
  .section-productive__testimonial {
    width: 50%;
  }
}
.section-productive__testimonial-text {
  font-size: 0.625rem;
  font-size: clamp(0.625rem, 0.5473rem + 0.3315vw, 0.8125rem);
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
}
.section-productive__testimonial-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-productive__testimonial-user-image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.section-productive__testimonial-user-info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.section-productive__testimonial-user-name {
  font-size: 0.5625rem;
  font-size: clamp(0.5625rem, 0.51rem + 0.22vw, 0.6875rem);
  font-weight: 700;
  color: hsl(243deg, 87%, 12%);
  letter-spacing: 0.028125rem;
}
.section-productive__testimonial-user-bio {
  font-size: 0.375rem;
  font-size: clamp(0.375rem, 0.3232rem + 0.22vw, 0.5rem);
  color: hsl(243deg, 87%, 12%);
  letter-spacing: 0.01875rem;
}

.section-cta__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 50em) {
  .section-cta__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    gap: 9.375rem;
  }
}
.section-cta__text-box {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  padding: 0 1.25rem;
}
@media screen and (min-width: 50em) {
  .section-cta__text-box {
    padding: 0;
  }
}
@media screen and (min-width: 68.75em) {
  .section-cta__text-box {
    padding-right: 4.375rem;
  }
}
.section-cta__text {
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8232rem + 0.2209vw, 1rem);
  color: hsl(0deg, 0%, 100%);
  line-height: 1.3125rem;
}
.section-cta__cta {
  padding: 0 1.25rem;
}
@media screen and (min-width: 50em) {
  .section-cta__cta {
    padding: 0;
  }
}
@media screen and (min-width: 50em) {
  .section-cta__btn {
    width: max-content;
  }
}
.section-cta__input {
  border: 1px solid transparent;
  box-shadow: 2px 3px 6px rgba(7, 4, 57, 0.15);
}
.section-cta__input:focus {
  outline: none;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 50em) {
  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    row-gap: 3.125rem;
  }
}
.footer__logo {
  width: 6.5625rem;
  height: 1.875rem;
}
.footer__link:link, .footer__link:visited {
  font-size: 1rem;
  color: hsl(0deg, 0%, 100%);
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:active {
  color: hsl(221deg, 100%, 71%);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__phone-mail-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__phone, .footer__mail {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 50em) {
  .footer__phone, .footer__mail {
    gap: 0.625rem;
  }
}
.footer__phone-icon {
  width: 1.125rem;
  height: 1.125rem;
}
.footer__mail-icon {
  width: 1.25rem;
  height: 1rem;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__social {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 50em) {
  .footer__social {
    justify-content: start;
  }
}
.footer__social-icon {
  width: 1.875rem;
  height: 1.875rem;
  fill: hsl(221deg, 36%, 91%);
  transition: all 0.3s;
}
.footer__social-icon:hover {
  fill: hsl(221deg, 100%, 71%);
}
.footer__attribution {
  color: hsl(0deg, 0%, 100%);
  font-size: 0.875rem;
  font-size: clamp(0.875rem, 0.8rem + 0.331vw, 1rem);
  text-align: center;
  letter-spacing: 0.015rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 50em) {
  .footer__attribution {
    grid-column: 1/-1;
  }
}

.header {
  padding: 1.5rem 0;
}

.section-hero {
  padding: 5.625rem 0;
}

.section-productive {
  padding: 5.625rem 0;
  background-image: url(../images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 37.5em) {
  .section-productive {
    background-image: url(../images/bg-curve-desktop.svg);
  }
}

.section-cta {
  padding: 3.375rem 0 5.625rem;
  background-color: hsl(238deg, 22%, 44%);
}
@media screen and (min-width: 50em) {
  .section-cta {
    padding: 5.625rem 0;
  }
}

.footer {
  padding: 4.0625rem 0;
  background-color: hsl(243deg, 87%, 12%);
}

/*# sourceMappingURL=style.css.map */
