@use '../utils/' as *;
.section-hero {
  display: flex;
  flex-direction: column;
  gap: rem(40);

  @include breakpoint-mobile(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(50);
    align-items: center;
  }

  &__img-box {
    @include breakpoint-mobile(medium) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    text-align: center;

    @include breakpoint-mobile(medium) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      text-align: left;
    }
  }

  &__text {
    font-size: rem(14);
    font-size: clamp(rem(14), rem(12.8) + 0.331vw, rem(17));
    line-height: rem(24);
    color: $color-primary-1;
  }

  &__form {
    @include breakpoint-mobile(small) {
      flex-direction: row;
    }

    &-btn {
      @include breakpoint-mobile(small) {
        width: 70%;
      }
    }
  }
}
