@use '../utils' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 rem(2) $accent-2;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: min(calc(100% - rem(48)), rem(1280));
  margin-inline: auto;
}
